<footer class="footer">
    <div class="container">
      <span>&copy; Facultad de Ing. Inform치tica || Corporaci칩n Universitaria Aut칩noma de Nari침o || Copyright </span>
    </div>
  </footer>
</body>
</html>